.category_fashion{
    background-color: rgb(144, 241, 144);
}
.category_food{
    background-color: rgb(158, 211, 241);
}
.category_coding{
    background-color: rgb(172, 216, 100);
}
.category_travel{
    background-color: rgb(131, 118, 247);
}
.category_culture{
    background-color: rgb(230, 130, 250);
}
.category_style{
    background-color: rgb(243, 149, 95);
}
