@import "variables";
@import "breakpoints";

.categorylist{
    padding:2px;
    display:flex;
    flex-direction: column;
    // gap:10px;
    margin:40px 0px;
    &_header{
        font-size: 24px;
        font-weight: bold;
        // padding-top:2px;
        // padding-bottom:2px;
        margin-bottom: 10px;
    }
    &_content{
        // margin:2px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        &_items{
            padding:2px;
            display: flex;
            flex-direction: row;
            justify-content: center; 
            align-items: center;
            flex-wrap: wrap;
            // width:100%;
            // gap:30px;
            &_item{
                // border:1px solid green;
                border:none;
                padding:2px 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width:150px;
                padding:5px 15px;
                border-radius: 5px;
                gap:5px;
                margin:2px 5px;
                // flex:1;
                &_image{
                    border-radius: 50%;}
                &_text{
                    text-transform: capitalize;
                }
            }
        }
        
    }
}